<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This Splurty page was built by <a target="_blank" href="http://github.com/djacobs74">David</a>. David is learning how to code at the Firehose Project.
  </p>
  <br />
  <p>
    David is an Army veteran and has worked in the telecom industry for the last 16 years, and has recently decided to change to coding.
  </p>
  <p>
    If you also would like to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.

<div class="col-xs-12 col-sm-4">
	<%= image_tag 'octoberfest.jpg', class: 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">David Jacobs</h2>
		<br />
		<p>David Jacobs is a former telecommunications technician that is switching over to coding.
		</p>
	</div>
	<br class="clear" />
	<br />
<br />
<br />
<br />



</div>